.barpro-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.login-button {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: "Plus Jakarta Sans";
}

.sign-in-button:hover {
  color: #555555;
  text-decoration: underline;
}

.login-button:active {
  color: #003e09;
}
