.cuadro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;

  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comid {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.tema {
  font-size: 14px;
  margin: 0;
}