.cont {
  display: flex;
  width: 375px;
  padding: 21px 35px;
  justify-content: space-between;
  align-items: center;
}
header {
  max-height: 370px;
}
.pairumani {
  max-width: 20px;
  max-height: 20px;
}
.titulo {
  color: #171412;
  font-feature-settings: "dlig" on;
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}

.bien {
  margin-left: 18px;
  position: relative;
  color: #fff;
  top: -90px;
  font-feature-settings: "dlig" on;
  font-family: "Plus Jakarta Sans";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px; /* 125% */
}
.inicio {
  max-width: 379;
  max-height: 320;
}
.ht {
  align-self: stretch;
  color: #171412;
  font-feature-settings: "dlig" on;
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px; /* 127.778% */
}
.divimagenpairu {
  display: flex;
  align-items: center;
  gap: 10px;
}
.divtextpairu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
