.cont {
    display: flex;
    margin: 20px 0px 0px 12px;
  }
  .pairumani {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    margin-left: 10px;
  }
  h1 {
    color: #171412;
    font-feature-settings: "dlig" on;
    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px; 
  }
  