.contenedor {
  display: flex;
  height: 46px;
  padding: 0px 8px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 5px;
  border: 1px solid rgba(0, 62, 9, 0);
}
.numhabi {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px; /* 150% */
  background-color: #fff; /* Fondo blanco */
  border: 1px solid #e0e0e0; /* Borde gris claro */
  border-radius: 8px; /* Bordes redondeados */
  padding: 2px;
}
