.al{
    width: 375px;
    display: flex;
    padding: 12px 16px;
    align-items: flex-start;
    align-self: stretch;
}
.botones{
    display: flex;
    height: 40px;
    min-width: 84px;
    max-width: 480px;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    border-radius: 12px;
    background: #FFF;
}
.texto{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    align-self: stretch;
    overflow: hidden;
    color: #1C140D;
    text-align: center;
    font-feature-settings: 'dlig' on;
    text-overflow: ellipsis;
    font-family: Epilogue;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px; /* 150% */
}